/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5.01.2021 Ð³., 19:02:00
    Author     : tedi
*/

/* Element */
.alignedTextContainer{
    display: block;
}
.alignedTextContainer > .element{
    margin-bottom: 20px;
}
.alignedTextContainer > .element.left{
    text-align: left;
}
.alignedTextContainer > .element.right{
    text-align: right;
}

/* Element Header / Topic */
.alignedTextContainer > .element > .topic{
    display: inline-block;
    padding: 4px 50px;
    background-image: linear-gradient(to bottom left, #b88747, #F5DEB3);
    border: 3px inset black;
    border-bottom: 0px;
    font-size: 22pt;
    min-width: 150px;
    color: black;
    padding-bottom: 30px;
}
.alignedTextContainer > .element.left > .topic{
    margin-left: 25px;
    border-radius: 0px 100px 0px 0px/0px 30px 0px 0px;
    color: black;
}
.alignedTextContainer > .element.right > .topic{
    margin-right: 25px;
    border-radius: 100px 0px 0px 0px/30px 0px 0px 0px;
    color: black;
}

/* Element Content */
.alignedTextContainer > .element > .content{
    display: inline-block;
    min-height: 80px;
    background-image: linear-gradient(to bottom left, #b88747, #F5DEB3);
    border: 3px inset black;
    text-indent: 40px;
    padding: 4px;
    min-width: 400px;
    position: relative;
    color: black;
    top: -30px;
    font-size: 14pt;
}
.alignedTextContainer > .element.left > .content{
    margin-left: 25px;
    border-radius: 0px 100px 0px 100px/0px 30px 0px 30px;
    color: black;
}
.alignedTextContainer > .element.right > .content{
    margin-right: 25px;
    border-radius: 100px 0px 100px 0px/30px 0px 30px 0px;
    color: black;
}
