/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 16, 2021, 2:05:32 PM
    Author     : azcraft
*/

.FancyContextMenu_Icon{
    position: fixed;
    /* background-image defined by js */
    background-position: center center;
    background-size: auto 40px;
    background-repeat: no-repeat;
    background-color: #cdab7e;
    border-radius: 50%;
    box-shadow: inset 0 0 9px black; 
    width: 48px;
    color: #F5DEB3;
    height: 48px;
    transform: translate(-24px, -24px);
}

.FancyContextMenu_Help{
    position: fixed;
    pointer-events: none;
    color: black;
    transform: translate(24px, -24px);
}
