/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22.12.2020 г., 2:36:12
    Author     : tedi
*/

body{
    color: rgb(0, 255, 0);
}

/* Header */
#home_header{
    display:block;
}
#home_logo{
    margin: 40px 25px;
    height: 150px;
    border: 3px inset;
    border-color: rgb(0, 255, 0);
}
#home_forms{
    position: fixed;
    right: 0px;
    top: 0px;
    margin-right: 2px;
    white-space: nowrap;
}

/* Forms */
input{
    background-color: black;
    font-size: 16pt;
    text-align: center;
    color: rgb(0, 255, 0);
    width: 100%;
    background-color: black;
    height: 31px;
    border: 1px solid rgb(0, 200, 0);
    display: block;
    box-sizing: border-box;
}
.dropdown_form_container{
    display: inline-block;
    position: relative;
    vertical-align: top;
    max-width: 250px;
    text-align: center;
}
.dropdown_form_contents{
    display: none;
    max-width: 230px;
    background: black;
    margin-left: 10px;
    margin-right: 10px;
}
.dropdown_form_submit{
    width: 250px;
    height: 30px;
    border: 3px inset rgb(0, 255, 0);
    border-left: 2px inset rgb(0, 255, 0);
    font-size: 18pt;
    text-align: center;
    cursor: pointer;
    background-color: black;
}
#sign_up.dropdown_form_submit{
    border-radius: 0px 0px 0px 100px/0px 0px 0px 25px;
}

/* Contents */