/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22.12.2020 Ð³., 2:36:12
    Author     : tedi
*/

/* Header */
#home_header{
    display:block;
}
#home_logo{
    background: url("../img/logo_1700x600.png") no-repeat; 
    background-size:auto 100%;
    margin-left: 25px;
    height: 150px; 
}
#home_forms{
    position: fixed;
    right: 0px;
    top: 0px;
    margin-right: 2px;
    white-space: nowrap;
    z-index: 10;
}

/* Forms */
.dropdown_form_container{
    display: inline-block;
    position: relative;
    vertical-align: top;
    max-width: 250px;
    text-align: center;
}
.dropdown_form_contents{
    display: none;
    max-width: 230px;
    background: black;
    margin-left: 10px;
    margin-right: 10px;
}
.dropdown_form_submit{
    width: 250px;
    height: 30px;
    border: 3px inset rgb(0, 255, 0);
    border-left: 2px inset rgb(0, 255, 0);
    font-size: 18pt;
    text-align: center;
    cursor: pointer;
    background-color: black;
}
.dropdown_form_feedback{
    white-space: normal;
}
#sign_up.dropdown_form_submit{
    border-radius: 0px 0px 0px 100px/0px 0px 0px 25px;
}

/* Contents */