/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27.02.2021 Ð³., 01:19:40
    Author     : tedi
*/

.centeredBox{
    background: black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 340px;
    border: 3px solid rgb(0, 250, 0);
    border-radius: 40px 40px 40px 40px/15px 15px 15px 15px;
    padding: 7px;
    font-size: 16pt;
    text-align: center;
}

.title{
    text-align: center;
    font-size: 25pt;
}

.small{
    text-align: center;
    font-size: 12pt;
}

#startTimerBox{
    margin: 12pt;
}

.timerFont{
    font-size: 45pt;
}

.timerFontHalf{
    font-size: 30pt;
}


.textarea{
    width: 100%;
    resize: vertical;
    margin: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

#identification{
    border: 0px solid black;
}

#startButton{
    width: 100px;
    margin: auto auto;
    margin-top: 5px;
    text-align: center; 
    border: 1px solid rgb(0, 250, 0);
    opacity: 0.2;
}

#mainTimer{
    position: fixed;
    top: 5px;
    right: 5px;
    text-align: center;
    font-size: 16pt;
}

#progressDisplay{
    background-color: black;
    display: none;
    position: fixed;
    right: 10px;
    padding: 5px;
    border: 2px solid rgb(0, 250, 0);
    border-radius: 40px 40px 40px 40px/15px 15px 15px 15px; width: 50px;
}
.circle{
    background-color: black;
    background-size: 50px;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: auto auto;
    box-shadow: inset 0 0 10px grey; 
    border-radius: 50%;
}

.UIheader{
    transform: translate(-42px, 0px);
}

#testContents{
    display: none;
    margin-top: 20px;
    margin-right: 84px;
    font-size: 16pt;
    text-align: center;
}

.task{
    border-radius: 40px 40px 40px 40px/15px 15px 15px 15px;
    border: 1px solid rgb(0, 250, 0);
    font-size: 16pt;
    padding: 7px;
    background: black;
    margin: 25px auto;
    width: 750px;
    text-align: left;
}

.question{
    min-height: 25px;
    margin-bottom: 7px;
    text-indent: 25px;
}

.answer{
    width: auto;
    border-top: 4px solid rgb(0, 250, 0);
    padding: 5px;
    font-size: 16pt;
    margin: 2px;
}

.answerInput{
    /* opacity: 0.4;*/
    text-align: left;
    min-height: 25px;
    margin-bottom: 7px;
    border: 0px solid black;
    padding: 0px;
}
.answerInput:focus{
    /*opacity: 1;*/
    outline: 0px solid transparent;
}

.workarea{
    min-height: 25px;
    margin-bottom: 7px;
}
