/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27.02.2021 Ð³., 01:19:40
    Author     : tedi
*/

.centeredBox{
    background: black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 340px;
    border: 3px solid rgb(0, 250, 0);
    border-radius: 40px 40px 40px 40px/15px 15px 15px 15px;
    padding: 7px;
    font-size: 16pt;
    text-align: center;
}

.title{
    font-size: 25pt;
}

.small{
    font-size: 12pt;
}

#startTimerBox{
    margin: 12pt;
}

#startTimer{
    font-size: 45pt;
}

.textarea{
    width: auto;
    margin: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

#identification{
    border: 0px solid black;
}

#startButton{
    width: 100px;
    margin: auto auto;
    margin-top: 5px;
    text-align: center; 
    border: 1px solid rgb(0, 250, 0);
    opacity: 0.2;
}

#fulltest{
    font-size: 16pt;
    margin: auto auto;
    width: 750px;
    text-align: center;
    margin-top: 20px;
}

#test{
    border-radius: 40px 40px 40px 40px/15px 15px 15px 15px;
    border: 1px solid rgb(0, 250, 0);
    font-size: 16pt;
    padding: 7px;
    background: black;
    margin: auto auto;
    width: 750px;
    text-align: left;
}

.zadachite{

}
.kryg{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: auto auto;
    display: inline-block;
    background-color: black;
    box-shadow: inset 0 0 10px grey; 
}