/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5.01.2021 Ð³., 17:19:40
    Author     : tedi
*/

/* Header */
#header{
    font-family: sans-serif;
    font-size: 14pt;
    text-align: center;
    vertical-align: top;
    padding: 5px;
}
#logo{
    background-image: url('../img/logo_231x234.png');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: left center;
    float: right;
    width: 130px;
    height: 130px;
    margin: 15px 15px;
}

/* Elements */
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: auto;
}
.block{
    display: inline-block;
    width: 200px;
    margin: 15px;
    padding: 2px;
    font-size: 14pt;
    text-indent: 20px;
    vertical-align: top;
}
.block > .name{
    background: black;
    width: 100%;
    height: 30px;
    border: 2px inset rgb(0, 255, 0);
    border-bottom: 0px;
    border-radius: 0px 40px 0px 0px/0px 25px 0px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.block > .description{
    background: black;
    width: 100%;
    height: 130px;
    border-radius: 0px 0px 0px 40px/0px 0px 0px 25px;
    border: 2px inset rgb(0, 255, 0);
    overflow: hidden;
    text-overflow: ellipsis;
}
.newElementButton{
    background-image: url("../img/plus.png");
    background-size: 150px;
    background-position: top center;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 15px;
    min-width: 200px;
    min-height: 150px;
}

/* Containers */
#testsContainer{
    margin-left: 25px;
    margin-right: 25px;
    z-index: 0;
}
#testsShadow{
    position: fixed;
    pointer-events: none;
    -webkit-box-shadow: inset 0px 0px 15px 15px black;
    -moz-box-shadow: inset 0px 0px 15px 15px black;
    box-shadow: inset 0px 0px 15px 15px black;
    width: 100%;
    left: 0px;
    z-index: 10;
}
#exerciseGroupsContainer{}
#exercisesContainer{}

/* Common */
.page{
    position: fixed; /* js */
    display: none;
    width: 100%;
}
.page > *{
    background-color: rgb(0, 20, 0);
}
.page > .details{
    position:absolute;
    top: 0px;
    right: 0px;
    width: 300px;
    padding: 5px;
    border: 2px solid green;
    border-radius: 5px;
    font-size: 16pt;
}
.page > .details > * {
    margin-bottom: 5px;
}
.title{
    min-height: 31px;
}
.description{
    height: 200px;
}
.page > .editorContents{
    border-radius: 5px;
    border: 2px solid green;
    font-size: 16pt;
    overflow-y: auto;
}

/* Element list */
.selectedElementsList{
    overflow-y: auto;
    margin-top: 5px;
    height: 300px;
}
.selectedElement{
    min-height:40px;
    overflow:hidden;
    vertical-align: middle;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.selectedElement > img{
    height: 32px;
    width: 32px;
    margin: 0px 2px;
}
.selectedElement > .move{}
.selectedElement > .remove{}
.selectedElement > .name{
    flex: 1;
    font-size: 12pt;
    border: 2px solid rgb(0, 200, 0);
    padding: 3px;
    border-radius: 5px;
    background-color: rgb(0, 20, 0);
}

/* Test editor */
#testEditorPage{
    z-index: 20;
}
#testDetails{}
#testName{}
#testDescription{}
#testContents{}

/* Exercise group editor */
#groupEditorPage{
    z-index: 40;
}
#groupDetails{}
#groupName{}
#groupDescription{}
#groupContents{}

/* Exercise editor */
#exerciseExitorPage{
    z-index: 40;
}
#exerciseDetails{}
#exerciseExitorPage{}
#exerciseExitorPage{}

.FancyContextMenu_Icon{
    z-index: 100;
}