/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5.01.2021 Ð³., 17:19:40
    Author     : tedi
*/

body{
    color: white;
}

#logo{
    margin: 40px 25px;
    height: 100px;
    width: 155px;
    border: 3px inset rgb(0, 255, 0);
    float: right;
}

#nachalo{
    vertical-align: top;
    padding: 5px;
    font-family: sans-serif;
    font-size: 14pt;
    text-align: center;
}
#menu{
    margin-left: 25px;
    margin-right: 25px;
    display: inline-block;
}
#test{

    text-indent: 20px;
    padding: 2px;
    font-size: 14pt;
    display: inline-block;
    margin: 15px;
}
#testname{
    height: 30px;
    width: 200px;
    border: 3px inset rgb(0, 255, 0);
    border-bottom: 0px;
    border-radius: 0px 40px 0px 0px/0px 25px 0px 0px;
}
#opisanie{
    border-radius: 0px 0px 0px 40px/0px 0px 0px 25px;
    border: 3px inset rgb(0, 255, 0);
    height: 130px;
    width: 200px;
}

#now{
    left: 23%;
    top: 10%;
    height: 100px;
    width: 100px;
    position: relative;
    border-radius: 50%;
    border: 2px inset rgb(0, 255, 0);
}