/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5.01.2021 Ð³., 17:19:40
    Author     : tedi
*/

/* Header */
#header{
    font-family: sans-serif;
    font-size: 14pt;
    text-align: center;
    vertical-align: top;
    padding: 5px;
}
#logo{
    background-image: url('../img/logo_231x234.png');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: left center;
    float: right;
    width: 130px;
    height: 130px;
    margin: 15px 15px;
}

/* Elements */
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: auto;
    max-height: 100%;
}
.block{
    display: inline-block;
    width: 200px;
    margin: 15px;
    padding: 2px;
    font-size: 14pt;
    text-indent: 20px;
    vertical-align: top;
    cursor: pointer;
}
.block > .name{
    background: black;
    width: 100%;
    height: 30px;
    border: 2px inset rgb(0, 255, 0);
    border-bottom: 0px;
    border-radius: 0px 40px 0px 0px/0px 25px 0px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.block > .description{
    background: black;
    width: 100%;
    height: 130px;
    border-radius: 0px 0px 0px 40px/0px 0px 0px 25px;
    border: 2px inset rgb(0, 255, 0);
    overflow: hidden;
    text-overflow: ellipsis;
}
.newElementButton{
    background-image: url("../img/plus.png");
    background-size: 150px;
    background-position: top center;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 15px;
    min-width: 200px;
    min-height: 150px;
}

/* Containers */
#testsContainer{
    margin-left: 25px;
    margin-right: 25px;
    z-index: 0;
}
#exerciseGroupsContainer{}
#exercisesContainer{}

#testsShadow{
    z-index: 10;
    -webkit-box-shadow: inset 0px 30px 15px -15px black, inset 0px -30px 15px -15px black;
    -moz-box-shadow: inset 0px 30px 15px -15px black, inset 0px -30px 15px -15px black;
    box-shadow: inset 0px 30px 15px -15px black, inset 0px -30px 15px -15px black;
    margin-left: 25px;
}
#exerciseGroupsShadow{
    z-index: 30;
}
#exercisesShadow{
    z-index: 50;
}
.shadow{
    position: absolute;
    pointer-events: none;
    -webkit-box-shadow: inset 0px 30px 15px -15px rgb(0, 20, 0), inset 0px -30px 15px -15px rgb(0, 20, 0);
    -moz-box-shadow: inset 0px 30px 15px -15px rgb(0, 20, 0), inset 0px -30px 15px -15px rgb(0, 20, 0);
    box-shadow: inset 0px 30px 15px -15px rgb(0, 20, 0), inset 0px -30px 15px -15px rgb(0, 20, 0);
}

/* Common */
.page{
    position: fixed; /* js */
    display: none;
    width: 100%;
}
.page > *{
    background-color: rgb(0, 20, 0);
}
.page > .details{
    position:absolute;
    top: 0px;
    right: 0px;
    width: 300px;
    padding: 5px;
    border: 2px solid green;
    border-radius: 5px;
    font-size: 16pt;
}
.page > .details > * {
    margin-bottom: 5px;
}
.title{
    min-height: 31px;
    max-width: 266px;
}
.description{
    height: 100px;
    max-width: 266px;
    text-indent: 20px;
}
.page > .editorContents{
    border-radius: 5px;
    border: 2px solid green;
    font-size: 16pt;
    overflow: hidden;
}

/* Element list */
.selectedElementsList{
    position: relative;
    height: 300px;
    margin-top: 5px;
    overflow-y: auto;
}
.selectedElement{
    position: relative;
    min-height: 40px;
    overflow:hidden;
    vertical-align: middle;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.selectedElement > .contentButton{
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 32px;
    height: 32px;
    width: 32px;
    margin: 0px 2px;
    cursor: pointer;
}
.selectedElement > .move{
    background-image: url("../img/dragbutton.png");
}
.selectedElement > .remove{
    background-image: url("../img/delete.png");
}
.selectedElement > .name{
    flex: 1;
    font-size: 12pt;
    border: 2px solid rgb(0, 200, 0);
    padding: 3px;
    border-radius: 5px;
    background-color: rgb(0, 20, 0);
    max-height: 30px;
    text-overflow: ellipsis;
}

/* Test editor */
#testEditorPage{
    z-index: 20;
}
#testDetails{}
#testName{}
#testDescription{}
#testContents{}

/* Exercise group editor */
#groupEditorPage{
    z-index: 40;
}
#groupDetails{}
#groupName{}
#groupDescription{}
#groupContents{}

/* Exercise editor */
#exerciseExitorPage{
    z-index: 40;
}
#exerciseDetails{}
#exerciseSettings{
    max-width: 266px;
    text-indent: 20px;
}
#exerciseAnswer{
    max-width: 266px;
    text-indent: 20px;
}
#exerciseWorkspace{
    position: relative;
    height: 100%;
}
#exerciseDisplay{
    text-align: center;
    vertical-align: middle;
}
#exerciseSideboard{}
#exerciseInput{
    position: absolute;
    height: 34%; 
    border: 1px solid rgb(0, 250, 0);
    bottom: 3px;
    width: 100%;
    background: black;
}
.box{
    border: 2px solid rgb(0, 250, 0);
    margin: 2px;
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
}
.exerciseConfig{
    background-color: black;
    color: rgb(0, 255, 0);
    font-size: 14pt;
    box-sizing: border-box;
    padding: 0px;
    height: 50px;
    text-indent: 0px;
}
.exerciseConfig.on{
    border: 1px solid rgb(0, 200, 0);
}
.exerciseConfig.off{
    border: 0px solid rgb(0, 200, 0);
    max-height: 0px;
    overflow: hidden;
}

#startTest{
    text-align: center;
    z-index: 110;
    width: 400px;
    min-height: 300px;
    font-size: 14pt;
}

/* Notification */
.notification{
    display: none;
    background: black;
    padding: 7px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: fixed;
    border-radius: 3px;
    text-align: center;
    font-size: 16pt;
    border-radius: 40px 40px 40px 40px/15px 15px 15px 15px;
    border: 3px solid rgb(0, 250, 0);
    width: 340px;
    z-index: 110;
    box-shadow: 0px 0px 60px 60px black;
}
.buttonNotification{
    display: none;
    background: black;
    width: 100px;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
    border: 2px solid rgb(0, 250, 0);
}


.FancyContextMenu_Icon{
    z-index: 100;
    cursor: pointer;
}
.FancyContextMenu_Help{
    z-index: 100;
    width: 200px;
}
