/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 30, 2020, 3:52:50 PM
    Author     : azcraft
*/

#nachalo{
}

#page{
	display: flex; 
	width: 100%;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    font-size: 20px;
	height: 100%;
    text-align: center;
	border-radius:  100px 100px 0px 0px/20px 20px 0px 0px;
}

#formuli{
	display: flex; 
	width: 25%;
	margin-right: 10px;
	height: 100%;
	border-right: 3px solid black;
	font-size: 20px;
    text-align: center;
	padding: 10px;
}

#uslovie{
	margin: 5px;
	font-size: 20px;
	text-align: center;
}
