body{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-family: Comic Sans MS;
}
#start{
	 display: inline-block;
    vertical-align: top;
    border: 3px solid black;
    padding: 5px;
    overflow: hidden;
    font-family: sans-serif;
    font-size: 16pt;
    text-align: center;
    border-radius: 100px/20px;
}
#page{
	position: absolute;
    left: 50%;
    top: 50%;
    z-index: 20;
    transform: translate(-50%, -50%);
    padding-top: 15px;
    padding-bottom: 15px;
}
.password{
    font-size: 16pt;
    border: 3px solid;
    border-color: black;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    width: 130px;
    border-radius: 125px/10px;
}
a{
	color: black;
	text-decoration: none;
}
#home{
	font-size: 16pt;
    border: 3px solid;
    border-color: black;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    width: 130px;
    border-radius: 125px/10px;
}
#register{
	
}

















